.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.caseForm {
  margin: auto;
  width: 50%;
  padding: 2%;
}

img {
  height: 400px;
  display: block;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: medium;
}

.spec_case {
  padding: 3%;
}

.cat_cases {
  padding: 3%;
}

.home-pg {
  margin: 2%;
  border-style: solid;
  border-color: black;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: lightsteelblue;
  border-radius: 2%;
}

#height-text {
  height: 300px;
}

